@import './styles/reset.scss';
@import './styles/variebles.scss';
@import './styles/buttons.scss';
@import './styles/typography.scss';
@import './styles/form.scss';
@import './styles/form-fields.scss';
@import './styles/flex.scss';
@import './styles/common.scss';

@import './styles/page.scss';
@import './styles/header.scss';
@import './styles/card.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, video, canvas{
  width: 100%;
  max-width: 100%;
}