.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: var(--primary-color);
  color: var(--text-color);

  .header_title{
    a{
      text-decoration: none;
    }
  }

  .nav{
    .nav__link{
      padding: 8px;
      color: var(--text-color);
      text-decoration: none;
      &.active{
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

}