.category-tag{
  display: inline-block;
  padding: 8px 12px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: var(--tag-default-background);
  outline: none;
  &.small{
    padding: 4px 6px;
    font-size: var(--text-sm);
  }
  &.selected{
    background-color: var(--tag-selected-background);
  }
}

.user-tag{
  padding: 0 4px;
  color: var(--text-color);
  font-size: var(--text-sm);
  line-height: var(--text-md);
  border-radius: 4px;
  background-color: var(--primary-color);
}

.category-tag, .user-tag{
  cursor: pointer;
}